JHSchool.Evaluation/obj/
JHSchool.Evaluation/bin/
HsinChuJHEvaluation/HsinChu.ClassExamScoreAvgComparison/HsinChu.ClassExamScoreAvgComparison/bin/Debug/HsinChu.ClassExamScoreAvgComparison.dll
HsinChuJHEvaluation/HsinChu.ClassExamScoreAvgComparison/HsinChu.ClassExamScoreAvgComparison/bin/Debug/HsinChu.ClassExamScoreAvgComparison.pdb
HsinChuJHEvaluation/HsinChu.ClassExamScoreAvgComparison/HsinChu.ClassExamScoreAvgComparison/obj/Debug/HsinChu.ClassExamScoreAvgComparison.dll
HsinChuJHEvaluation/HsinChu.ClassExamScoreAvgComparison/HsinChu.ClassExamScoreAvgComparison/obj/Debug/HsinChu.ClassExamScoreAvgComparison.pdb
HsinChuJHEvaluation/HsinChu.ClassExamScoreReportV2/HsinChu.ClassExamScoreReportV2/bin/Debug/HsinChu.ClassExamScoreReportV2.dll
HsinChuJHEvaluation/HsinChu.ClassExamScoreReportV2/HsinChu.ClassExamScoreReportV2/bin/Debug/HsinChu.ClassExamScoreReportV2.pdb
HsinChuJHEvaluation/HsinChu.ClassExamScoreReportV2/HsinChu.ClassExamScoreReportV2/obj/Debug/HsinChu.ClassExamScoreReportV2.dll
HsinChuJHEvaluation/HsinChu.ClassExamScoreReportV2/HsinChu.ClassExamScoreReportV2/obj/Debug/HsinChu.ClassExamScoreReportV2.pdb
HsinChuJHEvaluation/HsinChu.JHEvaluation.Data/HsinChu.JHEvaluation.Data/bin/Debug/HsinChu.PSEvaluation.Data.dll
HsinChuJHEvaluation/HsinChu.JHEvaluation.Data/HsinChu.JHEvaluation.Data/bin/Debug/HsinChu.PSEvaluation.Data.pdb
HsinChuJHEvaluation/HsinChu.JHEvaluation.Data/HsinChu.JHEvaluation.Data/obj/Debug/HsinChu.PSEvaluation.Data.dll
HsinChuJHEvaluation/HsinChu.JHEvaluation.Data/HsinChu.JHEvaluation.Data/obj/Debug/HsinChu.PSEvaluation.Data.pdb
HsinChuJHEvaluation/HsinChu.JHEvaluation/HsinChu.JHEvaluation/bin/Debug/HsinChu.PSEvaluation.dll
HsinChuJHEvaluation/HsinChu.JHEvaluation/HsinChu.JHEvaluation/bin/Debug/HsinChu.PSEvaluation.pdb
HsinChuJHEvaluation/HsinChu.JHEvaluation/HsinChu.JHEvaluation/obj/Debug/HsinChu.PSEvaluation.dll
HsinChuJHEvaluation/HsinChu.JHEvaluation/HsinChu.JHEvaluation/obj/Debug/HsinChu.PSEvaluation.pdb
HsinChuJHEvaluation/HsinChu.MidTermTransferReport/HsinChu.MidTermTransferReport/bin/Debug/HsinChu.MidTermTransferReport.dll
HsinChuJHEvaluation/HsinChu.MidTermTransferReport/HsinChu.MidTermTransferReport/bin/Debug/HsinChu.MidTermTransferReport.pdb
HsinChuJHEvaluation/HsinChu.MidTermTransferReport/HsinChu.MidTermTransferReport/obj/Debug/HsinChu.MidTermTransferReport.dll
HsinChuJHEvaluation/HsinChu.MidTermTransferReport/HsinChu.MidTermTransferReport/obj/Debug/HsinChu.MidTermTransferReport.pdb
HsinChuJHEvaluation/HsinChu.StudentExamScoreReport/HsinChu.StudentExamScoreReport/bin/Debug/HsinChu.StudentExamScoreReport.dll
HsinChuJHEvaluation/HsinChu.StudentExamScoreReport/HsinChu.StudentExamScoreReport/bin/Debug/HsinChu.StudentExamScoreReport.pdb
HsinChuJHEvaluation/HsinChu.StudentExamScoreReport/HsinChu.StudentExamScoreReport/obj/Debug/HsinChu.StudentExamScoreReport.csprojResolveAssemblyReference.cache
HsinChuJHEvaluation/HsinChu.StudentExamScoreReport/HsinChu.StudentExamScoreReport/obj/Debug/HsinChu.StudentExamScoreReport.dll
HsinChuJHEvaluation/HsinChu.StudentExamScoreReport/HsinChu.StudentExamScoreReport/obj/Debug/HsinChu.StudentExamScoreReport.pdb
HsinChuJHEvaluation/HsinChu.TransferReport/HsinChu.TransferReport/bin/Debug/HsinChu.TransferReport.dll
HsinChuJHEvaluation/HsinChu.TransferReport/HsinChu.TransferReport/bin/Debug/HsinChu.TransferReport.pdb
HsinChuJHEvaluation/HsinChu.TransferReport/HsinChu.TransferReport/obj/Debug/HsinChu.TransferReport.dll
HsinChuJHEvaluation/HsinChu.TransferReport/HsinChu.TransferReport/obj/Debug/HsinChu.TransferReport.pdb
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreAvgComparison/JHEvaluation.ClassSemesterScoreAvgComparison/obj/Debug/PSEvaluation.ClassSemesterScoreAvgComparison.dll
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreAvgComparison/JHEvaluation.ClassSemesterScoreAvgComparison/obj/Debug/PSEvaluation.ClassSemesterScoreAvgComparison.pdb
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreReport/ClassSemesterScoreReport/bin/Debug/PSEvaluation.ClassSemesterScoreReport.dll
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreReport/ClassSemesterScoreReport/bin/Debug/PSEvaluation.ClassSemesterScoreReport.pdb
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreReport/ClassSemesterScoreReport/obj/Debug/PSEvaluation.ClassSemesterScoreReport.dll
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreReport/ClassSemesterScoreReport/obj/Debug/PSEvaluation.ClassSemesterScoreReport.pdb
JHEvaluationExtensions/JHEvaluation.Rating/JHEvaluation.Rating/bin/debug/PSEvaluation.Rating.dll
JHEvaluationExtensions/JHEvaluation.Rating/JHEvaluation.Rating/bin/debug/PSEvaluation.Rating.pdb
JHEvaluationExtensions/JHEvaluation.Rating/JHEvaluation.Rating/obj/Debug/PSEvaluation.Rating.dll
JHEvaluationExtensions/JHEvaluation.Rating/JHEvaluation.Rating/obj/Debug/PSEvaluation.Rating.pdb
JHEvaluationExtensions/JHEvaluation.ScoreCalculation/JHEvaluation.ScoreCalculation/bin/debug/PSEvaluation.ScoreCalculation.dll
JHEvaluationExtensions/JHEvaluation.ScoreCalculation/JHEvaluation.ScoreCalculation/bin/debug/PSEvaluation.ScoreCalculation.pdb
JHEvaluationExtensions/JHEvaluation.ScoreCalculation/JHEvaluation.ScoreCalculation/obj/Debug/PSEvaluation.ScoreCalculation.dll
JHEvaluationExtensions/JHEvaluation.ScoreCalculation/JHEvaluation.ScoreCalculation/obj/Debug/PSEvaluation.ScoreCalculation.pdb
JHEvaluationExtensions/JHEvaluation.SemesterScoreContentItem/JHEvaluation.SemesterScoreContentItem/bin/Debug/PSEvaluation.SemesterScoreContentItem.dll
JHEvaluationExtensions/JHEvaluation.SemesterScoreContentItem/JHEvaluation.SemesterScoreContentItem/bin/Debug/PSEvaluation.SemesterScoreContentItem.pdb
JHEvaluationExtensions/JHEvaluation.SemesterScoreContentItem/JHEvaluation.SemesterScoreContentItem/obj/Debug/PSEvaluation.SemesterScoreContentItem.dll
JHEvaluationExtensions/JHEvaluation.SemesterScoreContentItem/JHEvaluation.SemesterScoreContentItem/obj/Debug/PSEvaluation.SemesterScoreContentItem.pdb
JHEvaluationExtensions/JHEvaluation.StudentScoreSummaryReport/bin/debug/PSEvaluation.StudentScoreSummaryReport.dll
JHEvaluationExtensions/JHEvaluation.StudentScoreSummaryReport/bin/debug/PSEvaluation.StudentScoreSummaryReport.pdb
JHEvaluationExtensions/JHEvaluation.StudentScoreSummaryReport/obj/Debug/JHEvaluation.StudentScoreSummaryReport.Prc.resources
JHEvaluationExtensions/JHEvaluation.StudentScoreSummaryReport/obj/Debug/PSEvaluation.StudentScoreSummaryReport.dll
JHEvaluationExtensions/JHEvaluation.StudentScoreSummaryReport/obj/Debug/PSEvaluation.StudentScoreSummaryReport.pdb
JHEvaluationExtensions/JHEvaluation.StudentSemesterScoreReport/JHEvaluation.StudentSemesterScoreReport/bin/Debug/PSEvaluation.StudentSemesterScoreReport.dll
JHEvaluationExtensions/JHEvaluation.StudentSemesterScoreReport/JHEvaluation.StudentSemesterScoreReport/bin/Debug/PSEvaluation.StudentSemesterScoreReport.pdb
JHEvaluationExtensions/JHEvaluation.StudentSemesterScoreReport/JHEvaluation.StudentSemesterScoreReport/obj/Debug/PSEvaluation.StudentSemesterScoreReport.dll
JHEvaluationExtensions/JHEvaluation.StudentSemesterScoreReport/JHEvaluation.StudentSemesterScoreReport/obj/Debug/PSEvaluation.StudentSemesterScoreReport.pdb
JHEvaluationExtensions/StudentSemesterScoreNotification/StudentSemesterScoreNotification/bin/Debug/StudentSemesterScoreNotification.dll
JHEvaluationExtensions/StudentSemesterScoreNotification/StudentSemesterScoreNotification/bin/Debug/StudentSemesterScoreNotification.pdb
JHEvaluationExtensions/StudentSemesterScoreNotification/StudentSemesterScoreNotification/obj/Debug/StudentSemesterScoreNotification.csprojResolveAssemblyReference.cache
JHEvaluationExtensions/StudentSemesterScoreNotification/StudentSemesterScoreNotification/obj/Debug/StudentSemesterScoreNotification.dll
JHEvaluationExtensions/StudentSemesterScoreNotification/StudentSemesterScoreNotification/obj/Debug/StudentSemesterScoreNotification.pdb
JHHsinChuScoreReports/HsinChuExamScore_JH/HsinChuExamScore_JH/bin/Debug/HsinChuExamScore_PS.dll
JHHsinChuScoreReports/HsinChuExamScore_JH/HsinChuExamScore_JH/bin/Debug/HsinChuExamScore_PS.pdb
JHHsinChuScoreReports/HsinChuExamScore_JH/HsinChuExamScore_JH/obj/Debug/HsinChuExamScore_PS.dll
JHHsinChuScoreReports/HsinChuExamScore_JH/HsinChuExamScore_JH/obj/Debug/HsinChuExamScore_PS.pdb
ischool/bin/Debug/PSEvaluation.ClassSemesterScoreAvgComparison.dll
ischool/bin/Debug/PSEvaluation.ClassSemesterScoreAvgComparison.pdb
HsinChuJHEvaluation/HsinChu.ClassExamScoreAvgComparison/HsinChu.ClassExamScoreAvgComparison/obj/Debug/HsinChu.ClassExamScoreAvgComparison.csproj.FileListAbsolute.txt
HsinChuJHEvaluation/HsinChu.ClassExamScoreAvgComparison/HsinChu.ClassExamScoreAvgComparison/obj/Debug/HsinChu.ClassExamScoreAvgComparison.csprojResolveAssemblyReference.cache
HsinChuJHEvaluation/HsinChu.ClassExamScoreReportV2/HsinChu.ClassExamScoreReportV2/obj/Debug/HsinChu.ClassExamScoreReportV2.csprojResolveAssemblyReference.cache
HsinChuJHEvaluation/HsinChu.JHEvaluation/HsinChu.JHEvaluation/obj/Debug/HsinChu.PSEvaluation.csproj.FileListAbsolute.txt
HsinChuJHEvaluation/HsinChu.MidTermTransferReport/HsinChu.MidTermTransferReport/obj/Debug/HsinChu.MidTermTransferReport.csprojResolveAssemblyReference.cache
HsinChuJHEvaluation/HsinChu.StudentExamScoreReport/HsinChu.StudentExamScoreReport/obj/Debug/HsinChu.StudentExamScoreReport.csproj.FileListAbsolute.txt
HsinChuJHEvaluation/HsinChu.TransferReport/HsinChu.TransferReport/obj/Debug/HsinChu.TransferReport.csprojResolveAssemblyReference.cache
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreAvgComparison/JHEvaluation.ClassSemesterScoreAvgComparison/obj/Debug/PSEvaluation.ClassSemesterScoreAvgComparison.csproj.FileListAbsolute.txt
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreAvgComparison/JHEvaluation.ClassSemesterScoreAvgComparison/obj/Debug/PSEvaluation.ClassSemesterScoreAvgComparison.csprojResolveAssemblyReference.cache
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreReport/ClassSemesterScoreReport/obj/Debug/ClassSemesterScoreReport.csproj.FileListAbsolute.txt
JHEvaluationExtensions/JHEvaluation.Rating/JHEvaluation.Rating/obj/Debug/PSEvaluation.Rating.csproj.FileListAbsolute.txt
JHEvaluationExtensions/JHEvaluation.Rating/JHEvaluation.Rating/obj/Debug/PSEvaluation.Rating.csprojResolveAssemblyReference.cache
JHEvaluationExtensions/JHEvaluation.SemesterScoreContentItem/JHEvaluation.SemesterScoreContentItem/obj/Debug/PSEvaluation.SemesterScoreContentItem.csprojResolveAssemblyReference.cache
JHEvaluationExtensions/JHEvaluation.StudentScoreSummaryReport/obj/Debug/PSEvaluation.StudentScoreSummaryReport.csproj.FileListAbsolute.txt
JHEvaluationExtensions/JHEvaluation.StudentScoreSummaryReport/obj/Debug/PSEvaluation.StudentScoreSummaryReport.csprojResolveAssemblyReference.cache
JHEvaluationExtensions/JHEvaluation.StudentSemesterScoreReport/JHEvaluation.StudentSemesterScoreReport/obj/Debug/PSEvaluation.StudentSemesterScoreReport.csprojResolveAssemblyReference.cache
JHHsinChuScoreReports/HsinChuExamScore_JH/HsinChuExamScore_JH/obj/Debug/HsinChuExamScore_PS.csprojResolveAssemblyReference.cache
HsinChuJHEvaluation/HsinChu.JHEvaluation.Data/HsinChu.JHEvaluation.Data/obj/Debug/HsinChu.PSEvaluation.Data.csprojResolveAssemblyReference.cache
HsinChuJHEvaluation/HsinChu.JHEvaluation/HsinChu.JHEvaluation/obj/Debug/HsinChu.PSEvaluation.csproj.GenerateResource.Cache
HsinChuJHEvaluation/HsinChu.JHEvaluation/HsinChu.JHEvaluation/obj/Debug/HsinChu.PSEvaluation.csprojResolveAssemblyReference.cache
JHEvaluationExtensions/JHEvaluation.ClassSemesterScoreReport/ClassSemesterScoreReport/obj/Debug/ClassSemesterScoreReport.csprojResolveAssemblyReference.cache
JHEvaluationExtensions/JHEvaluation.ScoreCalculation/JHEvaluation.ScoreCalculation/obj/Debug/PSEvaluation.ScoreCalculation.csprojResolveAssemblyReference.cache
